# Python
__pycache__/
*.pyc
*.db

# Python virtual environment
.venv/

# Node.js dependencies
node_modules/

# Environment variables
.env
*.env

# Logs
logs/
*.log

# Uploads and Exports
speech_platform/backend/uploads/
speech_platform/backend/exports/
frontend/Vishal-M/transcripts/